/* 1440px */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  font-size: 15px;
}
.outer-div{
  max-width: 300px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  margin-top: 100px;
  padding: 18px;
  border-radius: 17px;
}

img{
  width: 100%;
  border-radius: 10px;
}
.text{
  text-align: center;
  padding: 20px 10px;
  font-size: 15px;
}
p{
  padding: 10px;
  color: hsl(220, 15%, 55%);
  line-height: 20px;
}
h2{
  color: hsl(218, 44%, 22%);
}

/* 375px */
@media screen and (max-width: 375px){

body{
  margin: 0 1em;
}

}
